@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Fira+Sans:ital,wght@1,200&family=Oswald:wght@300&family=Roboto&display=swap');

body {
    font-family:'Oswald', sans-serif;
    color: hotpink;

    
}

.button{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: hotpink;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transition: all 0.3 ease;

}

button:hover{
    background-image: linear-gradient(hotpink, pink);
    border-radius: 5px;
}

.container{
    color: hotpink;
}

.button-addnew{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: hotpink;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transition: all 0.3 ease;
}

.button-add{
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    background-color: hotpink;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
    transition: all 0.3 ease;
}
